<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur minima eius eum omnis architecto ipsam, enim, reiciendis placeat voluptatem alias, eaque velit ratione. Magnam reprehenderit unde tempore doloribus magni quos?</p>
        {{> footer}}        
    </body>

</html>
